@media(max-width:900px){
   .navbar-collapse ul{
        display: flex;
       flex-direction: row;
       font-size: 110%;
   }
   .navbar-collapse ul li{
       margin: auto;
       margin-top: 5%;
   }
   #content-landing{padding-bottom: 40%;}
   #home{margin-top: 15%;}
    #content-landing h1{font-size:200%; 
        text-shadow:3px 2px 0px #7A7A7A ;}
    #content-landing h1 img{width: 7%;}
    #content-landing h3:nth-child(3){font-size:115%;}
    
    #content-about{flex-direction: column;}
     #content-about div img{
        width: 140%;
        margin: auto;
        margin-left: -40%;
     }

     #button-wa button{
       width: 80%;
       font-size: 100%;
       padding: 0;
       margin-top: 10%;
    }

     #card-bio{
         margin: auto;
         margin-top: 5%;
         width: 90%;
         padding: 0 2% 0 5%;
         border-left: 3px solid chocolate;
    }

    #card-bio:nth-child(2){font-size: 85%;}
     .skills{flex-wrap: wrap;}
     .skills p{font-size: 80%; ;}
     .exp ul{font-size: 90%; text-align: left;}
     .exp li{padding-bottom: 4%;}
     
     #title-sertif{
        border-left: 3px solid chocolate;
        margin:5% 0 0 10%;
        padding-left: 3%;
     }
     .swiper-container{
      width: 100%;  
      border-radius: 0px;
      font-size: 90%;
      margin-top: 8%;
     }
     .slidder >a >img {width:135%;border: 2px solid chocolate;
        border-radius: 10px;}
     .swiper-wrapper{padding-bottom: 12%;}
     
     #how-my-code{padding-top: 15%; padding-bottom: 15%;}
     .how-class{flex-direction: column; }
     #how-title{
        font-size: 130%; 
        width: 60%;
        border-left: 3px solid chocolate;
    }
     .how-class>div:nth-child(1){
        margin-top: 5%;
        padding: 5%;
         color: cornsilk;
         text-align: center;
         font-size: 80%;
     }
     .how-class>div:nth-child(2){
         margin-top: 8%;
         padding: 5%;
         color: cornsilk;
         text-align: center;
         font-size: 80%;
     }
     .how-class>div:nth-child(3){
         margin-top: 8%;
         padding: 5%;
         color: cornsilk;
         text-align: center;
         font-size: 80%;
         
    }

     .portofolio h2{
         margin:12% 0 0 10%; 
         color: #37373a;
         border-left: 3px solid chocolate;
        }
     .swiper-portofolio{
        width: 80%;
        height: 350px;
        margin-top: 10%;
        border-radius: 5px;
       }
    .swipper-slide-portofolio{
        padding: 2%;
    }
     .swipper-slide-portofolio a img{
        width: 100%;
        height: 150px;
        }
    .swipper-slide-portofolio> h4{
        text-decoration: underline;
        margin-top: 8%;
        font-size: 98%;
        padding-bottom: 3%;
        }
        .swipper-title{
            font-size: 80%;
        }

        #contact{
            background-position-y:0px;
            padding:8% 0 5% 0; 
        }
        .contact-teks{
            margin-top: 10%;
        }
      .contact-teks> h3{
        color: whitesmoke;
        font-size: 120%;
        text-align: center;
        margin-top:30%;
        width: 210px;
        border-left: 3px solid chocolate;
        

    }
      
    .contact-box{display: flex; margin: auto;}
    .contact-box div{
        margin-top: 10%;
        padding: 5%;
        flex-basis: 25%;
        text-align: center;
    }
    .contact-box img{
        width: 90%;
    }
    .contact-box a{
        color: whitesmoke;
        text-decoration: none;
        font-weight: bold;
        font-size: 65%;
    }
  
    .line{ 
        border-bottom: chocolate solid 2px;
        width: 80%;
        margin: auto;
        margin-top: 0%;
    }
    #copyright{
        text-align: center;
        color: whitesmoke;
        width: 100%;
        font-size: 80%;
    }
    .overlay:target{right: 0; bottom: 0;}
    .overlay>img{width: 100%;position: absolute; top: 22%; right: 0;}
    
    .close{top: 17.5%; left: 72%; font-size: 120%;}
    .sertif-link{top: 17.5%;left: 5%;font-size: 100%;}
    

 }

 