@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{font-family: 'Poppins', sans-serif;}
body{background-color: #cec8c8 !important;}
header{
    position: sticky;
    top: 5px;
    left: 20px;
    z-index: 10;
    background-color: #37373a; 
    border-radius: 20px;
    box-shadow: 4px 6px 1px rgba(145, 144, 144, 0.6);
    width: 97%;
}
.navbar-nav{
    margin-left: 40%;
    font-size: 125%;
    color: #cec8c8;
    font-size: 140%;
    
}
.navbar-nav a{opacity: 0.5; transition: 0.5s;}
.navbar-nav a:hover{
    opacity: 1;
    color: white;
}

.navbar-brand img{
    width: 15%;
    margin-left: 10%;
    border-radius: 5px;
   }
#content-landing{
    background-image: url(assets/wave-bg.svg);
    background-repeat: no-repeat;
    background-position:bottom ;
    padding: 10% 10% 25% 10%;
}
#content-landing h3:nth-child(1){
    color: #37373a;
}
#content-landing h1{
    color: #37373a;
    font-size:350%;
    text-shadow: 3px 2px 0px #7A7A7A;
    transition: 0.3s;
}
#content-landing h1:hover{ transform: scale(1.05);}
#content-landing h1 img{
    width: 2.5%;

}
#content-landing h3:nth-child(3){
    color: #37373a;
    font-size:170%;
}

#content-landing >h3>#s-1{
    font-size: 120%;
    color: chocolate;
    font-weight: bold;
}
#content-landing >h3>#s-2{
    color: cadetblue;
    font-size: 120%;
    font-weight: bold;
}

#content-about{
    background-color:#37373a ;
    color: cornsilk;
    padding: 0 5% 5% 5%;
    display: flex;
    margin: auto;
    margin-top:0;

}
#card-bio{
    width: 65%;
    color: cornsilk;
    padding: 3%;
    text-align: justify;}
#title-bio{
    font-weight: bold;
    font-size: 140%;
    color: cornsilk;
}
#content-about>img{
    width: 25%;
    height: 350px;
    margin-top: 1.5%;
    margin-left: 5%;
    border-radius: 20px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.skills{
    display: flex;
    
}
.skills p{
    padding: 1% 1.5%;
    margin-left: 2%;
    border-radius: 10px;
    transition: 0.5s;
}
.skills p:nth-child(1){border: 2px solid #e44d26; color:#e44d26; font-weight: bold;}
.skills p:nth-child(1):hover{border: 2px solid #e44d26; color:cornsilk; background-color:#e44d26;}
.skills p:nth-child(2){border: 2px solid #379ad6; color:#379ad6; font-weight: bold;}
.skills p:nth-child(2):hover{border: 2px solid #379ad6; color:cornsilk; background-color:#379ad6;}
.skills p:nth-child(3){border: 2px solid #f7e018; color:#f7e018; font-weight: bold;}
.skills p:nth-child(3):hover{border: 2px solid #f7e018; color:cornsilk; background-color:#f7e018;}
.skills p:nth-child(4){border: 2px solid #563d7c; color:#563d7c; font-weight: bold;}
.skills p:nth-child(4):hover{border: 2px solid #563d7c; color:cornsilk; background-color:#563d7c;}
.skills p:nth-child(5){border: 2px solid #00d8ff; color:#00d8ff; font-weight: bold;}
.skills p:nth-child(5):hover{border: 2px solid #00d8ff; color:cornsilk; background-color:#00d8ff;}
.skills p:nth-child(6){border: 2px solid cornsilk; color:cornsilk; font-weight: bold;}
.skills p:nth-child(6):hover{border: 2px solid cornsilk; color:#37373a; background-color:cornsilk;}


#card-sertifikat{
    background-color: #37373a;
    padding-bottom: 3%;
}

#title-sertif{
    font-weight: bold;
    font-size: 140%;
    color: cornsilk;
    margin: 1% 0 0 2%;
}


.mySwiper {
   width: 85%;
    border-radius: 20px;
    box-shadow:  20px 20px 60px #282829,
                 -20px -20px 60px #38383a;
    }
.slidder {
    text-align: center;
    font-size: 18px;
    background: #37373a;
    display: flex;
    align-items: center;
    padding: 1% 2% 3% 2%;
    transition: 0.3s;
}
  
  .slidder:active{ transform: scale(1.1);}

  .slidder>a>img {
    display: block;
    width:100% ;
    background-color: #37373a;
    }
.overlay{
    width: 0;
    height: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    text-align: center;
    padding: 70px;
    transition: 0.5s;
}

.overlay:target{
    background: rgba(0, 0, 0, 0.9);
    width:auto;
    height: auto;
    right: 0;
    bottom: 0;
    opacity: 1;
    
}
.overlay>img{
    max-height: 100%;
    margin-top: 2%;
}
.close{
    position: absolute;
    top: 65px;
    left: 900px;
    font-size: 130%;
    text-decoration: none;
    color: cornsilk;
    opacity: 0.5;
    transition: 0.3s;
    }
.close:hover{color: cornsilk;opacity: 1;}

.sertif-link{
    position: absolute;
    top: 65px;
    left: 370px;
    font-size: 120%;
    text-decoration: none;
    color: cornsilk;
    opacity: 0.5;
    transition: 0.3s;
}
.sertif-link:hover{color: cornsilk;opacity: 1;}

#how-my-code{background-color:#37373a ;}
#how-title{
    color: cornsilk;
    font-size: 200%;
    text-align: center;
    font-weight: bold;
    padding-bottom: 1%;
}
.how-class{display: flex;}
.how-class>div{
    -ms-flex-direction: row;
    border-radius: 15px;
    box-shadow:  20px 20px 60px #282829,
    -20px -20px 60px #3f3f43;
    padding: 3% 3% 0 3%;
    color: cornsilk;
    margin: 0 2% 0 2%;
    text-align: center;
    transition: 0.8s;
}

.how-class>div:hover{
    transform: scale(1.08);
}
.how-class i{font-size: 350%; padding-bottom: 2%;}
.how-class h3{
    font-size: 120%;
    font-weight: bold;
    text-decoration: underline;
}

.portofolio{
    background-image: url(assets/wave-2-bg.svg);
    background-repeat: no-repeat;
    padding: 20% 5% 0 5%;
    
}
.portofolio h2{margin-left: 10%; color: #37373a;}

.swiper-portofolio {
    margin-top: 5%;
    width: 70%;
    height: 525px;
    border-radius: 13px;
    background: linear-gradient(225deg, #cacaca, #f0f0f0);
    box-shadow:  -23px 23px 0px #5a5a5a,
                 23px -23px 0px #ffffff;
  }
  .swipper-slide-portofolio{
      margin: auto;
      background-color:#37373a ;
  }
 
.swipper-slide-portofolio> h4{
    color: cornsilk;
    text-align: center;
    margin-top: 2%;
}
.swipper-title{
    text-align: center;
    color: cornsilk;
    padding: 0 2%;
 
}
  .swipper-slide-portofolio img{
    display: block;
    width: 100%;
    
}
.swiper-portofolio {
    margin-left: auto;
    margin-right: auto;
}

#contact{
    background-image: url(assets/wave-3-bg.svg);
    background-position-y:-130px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #37373a;  
    padding:8% 0 5% 0; 
  
}

  .contact-teks> h3{
   margin: auto;
   margin-top:10%;
   text-align: center;
    width: 38%;
    color: cornsilk;
   
    
  }
  
.contact-box{display: flex;margin-left: 15%;}
.contact-box div{
   margin-top:5%;
    flex-basis: 20%;
    text-align: center;
    transition: 0.5s;
}

.contact-box div:hover{transform: scale(1.1);}
.contact-box img{
    width: 30%;
}
.contact-box a{
    color: cornsilk;
    text-decoration: none;
    font-weight: bold;
    font-size: 90%;
}
.contact-box a:hover{color: cornsilk;}

.line{ 
    margin: auto;
    margin-top: 5%;
    border-bottom: cornsilk solid 2px;
    width: 90%;
    
    
}
#copyright{
   text-align: center;
    margin: auto;
    margin-top: 1%;
    color: cornsilk;
    width: 50%;
    
}
