@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
*{font-family: 'Comfortaa', cursive;}

#upper-page{ 
    background-image: url(../assets/bg-atas.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center ;
    }

.navbar-nav{
    margin: auto;
    margin-top: 0.5%;
    font-size: 150%;
    border-bottom: 1px solid whitesmoke;
}
.navbar-nav a{
    text-shadow: 3px 2px 0px #7A7A7A;
    transition: 0.5s;}
.navbar-nav a:hover{transform: scale(1.1);}

#content-landing{
    padding: 10% 6% 20% 12% ;
}
#content-landing h3:nth-child(1){
    color: whitesmoke;
}
#content-landing h1{
    color: whitesmoke;
    font-size:430%;
    text-shadow: 3px 2px 0px #7A7A7A;
    transition: 0.3s;
}
#content-landing h1:hover{ transform: scale(1.05);}
#content-landing h1 img{
    width: 2.5%}
#content-landing h3:nth-child(3){
    color: whitesmoke;
    font-size:170%;
    padding-bottom: 5%;
}

#content-landing >h3>#s-1{
    font-size: 120%;
    color: chocolate;
    font-weight: bolder;
}
#content-landing >h3>#s-2{
    color: chocolate;
    font-size: 120%;
    font-weight: bolder;
}

#button-wa button{
   color: whitesmoke;
    width: 15%;
    padding: 0.5% 0;
    border-radius: 30px;
    background-color: #25d366;
    box-shadow: 0px 6px 0 #121418;
    border: none;
    font-size: 120%;
    
}
#button-wa button:active{
    position: relative;
    top: 6px;
    box-shadow: none;
}
#button-wa img{
    width: 20%;
}


#content-about{
    background-color:#262c38 ;
    color:whitesmoke;
    display: flex;
    flex-direction: row;
   padding: 10% 0 3% 0;
    
}
#card-bio{
    margin-left: -10%;
    color: whitesmoke;
    padding: 1.2% 3% 0 1.5%;
    text-align: justify;
    border-left: 5px solid chocolate;
    width: 100%;
    height: 85%;
}

#bio{
    font-size: 120%;
}
#title-bio{
    font-weight: bold;
    font-size: 200%;
    color: whitesmoke; 
}
#content-about>div>img{
    width:130%;
   margin-left: -45%;
   margin-top: -22%;
   
}

.skills{display: flex;}
.skills p{
    padding: 1% 1.5%;
    margin-left: 2%;
    border-radius: 10px;
    transition: 0.5s;
}
.skills p:nth-child(1){border: 2px solid #e44d26; color:#e44d26; font-weight: bold;}
.skills p:nth-child(1):hover{border: 2px solid #e44d26; color:cornsilk; background-color:#e44d26;}
.skills p:nth-child(2){border: 2px solid #379ad6; color:#379ad6; font-weight: bold;}
.skills p:nth-child(2):hover{border: 2px solid #379ad6; color:cornsilk; background-color:#379ad6;}
.skills p:nth-child(3){border: 2px solid #f7e018; color:#f7e018; font-weight: bold;}
.skills p:nth-child(3):hover{border: 2px solid #f7e018; color:cornsilk; background-color:#f7e018;}
.skills p:nth-child(4){border: 2px solid #563d7c; color:#563d7c; font-weight: bold;}
.skills p:nth-child(4):hover{border: 2px solid #563d7c; color:cornsilk; background-color:#563d7c;}
.skills p:nth-child(5){border: 2px solid #0169ae; color:#0169ae; font-weight: bold;}
.skills p:nth-child(5):hover{border: 2px solid #0169ae; color:cornsilk; background-color:#0169ae;}
.skills p:nth-child(6){border: 2px solid cornsilk; color:cornsilk; font-weight: bold;}
.skills p:nth-child(6):hover{border: 2px solid cornsilk; color:#37373a; background-color:cornsilk;}

.exp{
    background-color: #262c38;
    color: whitesmoke;
    margin-top: 2%;
}
.exp li{
    padding-bottom: 1.5%;
}
.exp li span{
   font-size: 125%;
}

#card-sertifikat{
    background-color: #262c38;
    padding:1% 0 3% 0;
}

#title-sertif{
    font-weight: bold;
    font-size: 180%;
    color: whitesmoke;
    margin: 3% 0 1% 4%;
    border-left: 5px solid chocolate;
    padding-left:1%;
    
}

.swiper-sertif{
    width: 95%;
}

.swiper-slide-sertif{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262c38;
}

  .swiper-slide-sertif img {
    display: block;
    width: 100%;
    margin: auto;
    border: 1px solid #11192b;
    border-radius: 10px;
    background-color:#11192b ;
    padding: 2%;
    
  }

#how-my-code{background-color:#262c38; padding: 4% 0 10% 0;}
#how-title{
    margin: auto;
    color: whitesmoke;
    font-size: 200%;
    text-align: center;
    font-weight: bold;
    border-left: 5px solid chocolate;
    width: 25%;
    
}
.how-class{display: flex; padding-top: 3%;}

.how-class>div{
    border-radius: 15px;
    background: linear-gradient(225deg, #222832, #292f3c);
    box-shadow:  -20px 20px 60px #202530,
             20px -20px 60px #2c3340;
    color: whitesmoke;
    margin: 0 2% 0 2%;
    text-align: center;
    padding: 2%;
    
}

.how-class i{font-size: 350%; padding-bottom: 2%;}
.how-class h3{
    font-size: 140%;
    font-weight: bold;
    text-decoration: underline;
}

.how-class p{
    font-size: 120%;
}

.portofolio{
   
    padding: 0% 5% 5% 5%;
    
}
.portofolio h2{
    font-size: 200%;
    margin:8% 0 0 1%; 
    padding-left: 0.5%;
    color: #262c38;
    font-weight: bold;
    border-left: 5px solid chocolate;
}

.swiper-project {
   
    margin-left: auto;
    margin-right: auto;
  
  }

.swiper-wraper-project{
    padding: 1%;
    
}

  .swiper-slide-project {
    display: flex;
    align-items: center;
   border-radius: 10px;
    transition: 1s;
  }

  .swiper-slide-project:hover{
     transform: scale(1.04);
  }
  
  .swiper-slide-project .card{
    border: 5px solid #1b212c;
    background-color: #262c38;
    color: whitesmoke;
    padding: 2%;
    border-radius: 10px;
  }
  .swiper-slide-project .card p{
      margin-top: 2%;
      font-size: 120%;
    }

.swiper-slide-project .card a{
        text-decoration: none;
        border: 2px solid whitesmoke;
        width: 25%;
        text-align: center;
        padding: 1%;
        background-color: whitesmoke;
        color:#262c38;
        font-weight: bold;
        box-shadow: 1px 6px 0px rgb(116, 115, 111);
        border-radius: 20px;
        position: relative;
        top: 0;
}
    .swiper-slide-project .card a:active{
      top: 7px;
      
        box-shadow: none;
    }


#contact{
    background-color:#262c38 ;
    padding:1% 0 3% 0; 
   
}
.contact-teks{
    margin-top: 15%;
}
  .contact-teks> h3{
    text-align: center;
    margin: auto;
    width: 25%;
    color: whitesmoke;
    border-left: 5px solid chocolate;
    
  }
 
.contact-box{display: flex; margin-left: 15%;}
.contact-box div{
    margin-top:5%;
    flex-basis: 20%;
    text-align: center;
    transition: 0.5s;
}

.contact-box div:hover{transform: scale(1.1);}
.contact-box img{
    width: 35%;
}
.contact-box a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 90%;
}
.contact-box a:hover{color: whitesmoke;}

.line{ 
    margin: auto;
    margin-top: 5%;
    border-bottom: chocolate solid 5px;
    width: 90%;
    
    
}
#copyright{
    
   text-align: center;
    margin: auto;
    margin-top: 1%;
    color: whitesmoke;
    width: 50%;
    
}
