@media(max-width:900px){
   .navbar-collapse ul{
        display: flex;
       flex-direction: row;
       font-size: 110%;
   }
   .navbar-collapse ul li{
       margin: auto;
       margin-top: 5%;
   }
   #content-landing{padding-bottom: 40%;}
   #home{margin-top: 15%;}
    #content-landing h1{font-size:200%; 
        text-shadow:3px 2px 0px #7A7A7A ;}
    #content-landing h1 img{width: 7%;}
    #content-landing h3:nth-child(3){font-size:115%;}
    
    #content-about{flex-direction: column;}
    #bio{
        font-size: 90%;
    }
     #content-about div img{
        width: 140%;
        margin: auto;
        margin-left: -40%;
     }

     #button-wa button{
       width: 80%;
       font-size: 100%;
       padding: 0;
       margin-top: 10%;
    }

     #card-bio{
         margin: auto;
         margin-top: 5%;
         width: 90%;
         padding: 0 2% 0 5%;
         border-left: 3px solid chocolate;
    }

    #card-bio:nth-child(2){font-size: 85%;}
     .skills{flex-wrap: wrap;}
     .skills p{font-size: 80%; ;}
     .exp ul{font-size: 90%; text-align: left;}
     .exp li{padding-bottom: 4%;}
     
     #title-sertif{
        border-left: 3px solid chocolate;
        margin:5% 0 5% 5%;
        padding-left: 3%;
        font-size: 130%;
     }
     
     .mySwiper {
        width: 100%;
    }
    .swiper-wrapper-sertif{
        margin-bottom: 11%;
    }

     .swiper-slide-sertif img{
         width: 110%;
         border-radius: 5px;
     }
   
     
     #how-my-code{padding-top: 15%; padding-bottom: 15%;}
     
     .how-class{flex-direction: column; }
     
     #how-title{
        font-size: 120%; 
        width: 60%;
        border-left: 3px solid chocolate;
    }

    .how-class p{
        font-size: 90%;
    }
    
    .how-class>div:nth-child(1), .how-class>div:nth-child(2), .how-class>div:nth-child(3){
        margin-top: 5%;
        padding: 5%;
         text-align: center;
         font-size: 80%;
     }
   

     .portofolio h2{
        font-size: 130%;
         margin:12% 0 3% 1.5%; 
         color: #37373a;
         border-left: 3px solid chocolate;
        }

        .swiper-wraper-project{
            margin-bottom: 15%;
        }
        
        .swiper-slide-project .card p{
              margin-top: 2%;
              font-size: 50%;
            }
        
        .swiper-slide-project .card a{
            font-size: 60%;
            width: 100%;
            box-shadow: 1px 3px 0px rgb(116, 115, 111);
        }





        #contact{
            background-position-y:0px;
            padding:8% 0 5% 0; 
        }
        .contact-teks{
            margin-top: 10%;
        }
      .contact-teks> h3{
        color: whitesmoke;
        font-size: 120%;
        text-align: center;
        margin-top:30%;
        width: 210px;
        border-left: 3px solid chocolate;
        

    }
      
    .contact-box{display: flex; margin: auto;}
    .contact-box div{
        margin-top: 10%;
        padding: 5%;
        flex-basis: 25%;
        text-align: center;
    }
    .contact-box img{
        width: 90%;
    }
    .contact-box a{
        color: whitesmoke;
        text-decoration: none;
        font-weight: bold;
        font-size: 65%;
    }
  
    .line{ 
        border-bottom: chocolate solid 2px;
        width: 90%;
        margin: auto;
        margin-top: 0%;
    }
    #copyright{
        text-align: center;
        color: whitesmoke;
        width: 100%;
        font-size: 80%;
    }
    
    

 }

 